* {font-family:Helvetica;}

#image1 {text-align:center;}

H1 {text-align:center;
    text-decoration:underline;}
  
  p {color:red;
    font-family:Helvetica;}
    
img.buttons {height:100px;width:100px;}
